*{
    margin: 0;
    padding: 0;
    color: rgb(56, 59, 75);
    font-family: sans-serif;
}

body{
    background-color: #fafafa;
}

$yellow: rgb(255, 196, 0);
$green: rgb(51, 145, 90);
$red: rgb(187, 43, 43);
$violet:rgb(110, 65, 226);
$blue-message:rgb(228, 231, 255);